:root {
  --silver-border: solid 1px #ddd;
  --cell-size: 40px;
}

html {
  background: #ddd;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.controls {
  display: flex;
}

fieldset {
  border: solid 1px lightslategray;
}

label,
legend {
  font-size: 14px;
}

section {
  margin-bottom: 1rem;
}

section:last-of-type {
  margin-bottom: 0;
}

.row {
  display: flex;
}

*:last-of-type > .cell {
  border-bottom: var(--silver-border);
}

.cell {
  box-sizing: border-box;
  display: inline-block;
  border: none;
  border-left: var(--silver-border);
  border-top: var(--silver-border);
  height: var(--cell-size);
  width: var(--cell-size);
  margin: 0;
  cursor: pointer;
}

.cell:last-of-type {
  border-right: var(--silver-border);
}

.cells.hide-grid .cell {
  border: none;
}
